:root {
  --primary-color: #f5079c;
  --secondary-color: rgb(247, 230, 240);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 64px;
}

h4 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

h3 a {
  color: black;
}
h3 a:hover {
  color: var(--primary-color);
}
.first-paragraph {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.first-paragraph p {
  font-size: 36px;
  color: black;
  font-weight: bold;
  margin: 0;
}

.first-paragraph h1 {
  color: black;
  font-weight: bold;
  font-size: 96px;
  font-family: var(--heading-font-family);
}
.first-paragraph h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  font-family: var(--heading-font-family);
}
.btn-branding {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

a.btn-branding:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
  background-color: var(--secondary-color);
}

.paragraph-text {
  color: #6c757d !important;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.btn-branding-learn-more {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

a.btn-branding-learn-more:hover {
  background-color: var(--primary-color);
  color: white;
}
.project-description {
  padding: 60px 60px;
}

.content-container {
  padding: 50px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content {
  margin: 40px;
}

nav li {
  text-decoration: none;
  display: inline;
  margin-left: 20px;
}

nav ul {
  padding: 30px;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

nav.header {
  margin: 0 auto;
}
nav img {
  margin: 10px;
}

footer .work-inquiry {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
  margin: 0;
}

footer a.email-link {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer a:hover {
  color: var(--primary-color);
}
footer .social-links {
  text-align: center;
  text-decoration: none;
}

footer .social-links a {
  margin: 0px 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: 18px;
  border-radius: 50%;
  padding: 10px 14px;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
}

@media (max-width: 960px) {
  .project-description {
    padding: 0‚;
    text-align: center;
  }

  .content {
    text-align: center;
    padding: 0;
  }
}
