:root {
  --primary-color: #f5079c;
  --secondary-color: rgb(247, 230, 240);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.first-paragraph {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.first-paragraph p {
  font-size: 36px;
  color: black;
  font-weight: bold;
  margin: 0;
}

.first-paragraph h1 {
  color: black;
  font-weight: bold;
  font-size: 96px;
  font-family: var(--heading-font-family);
}
.first-paragraph h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  font-family: var(--heading-font-family);
}
.btn-branding {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
